@import "bourbon/app/assets/stylesheets/bourbon";
@import "neat/app/assets/stylesheets/neat";


#main-container {
	#header {
		@include media(769px) {
       		@include span-columns(3);
       		position: fixed;
       		text-align: left;
       		dl {
       			text-align: left;
       			dt {
       				text-align: left;
       				display: block;
					font-weight: 400;
					margin-top: 20px;
				}
				dd {
					display: block;
					p {
						display: block;
						margin: 5px 0;
					}
					a {
						i {
						display: none;
						}
					}
				}
			}
		}
	}
	#content {
		@include media(769px) {
       		@include span-columns(9);
       		position: relative;
       		right: 0;
       		top: 0;
       		float: right;
       		div {
       			max-width: 700px;
       			magin: auto;
       		}
		}
	}
}
